section {
    padding: 4rem 1rem;
}


/****************************************

    HERO

****************************************/


.hero {
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 1.75rem;
    line-height: 230%;
    padding: 7rem 1rem 10rem 1rem;
}

.hero__text {
    margin-bottom: 6rem;
}

.hero__slogan strong {
    color: #E33700;
    font-weight: 700;
}


/****************************************

    TESTIMONIALS

****************************************/

.testimonials {
    display: flex;
    justify-content: space-around;
}

.testimonialCard {
    padding: 2rem;
    max-width: 30%;
    vertical-align: middle;
}

.testimonialCard__img {
    max-height: 150px;
}


/* algunos arreglos para compensar por los diferentes tamaños de imagenes */
.testimonialCard .rata {
    max-height: 130px;
    margin-bottom: 10px;
}

.testimonialCard .oscar {
    max-height: 130px;
    margin-bottom: 10px;
}

.testimonialCard .lanata {
    margin-bottom: -10px;
}

.testimonialCard__text {
    padding-top: 1rem;
    font-weight: 500;
}
/*****/

/****************************************

    Call to Action

****************************************/

.cta {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10rem 2rem;
}

.cta__text {
    font-family: 'Lobster Two', cursive;
    font-size: 2rem;
    margin-bottom: 5rem;
}

.cta__text--color {
    color: #E33700;
}

.cta__button, .cta__button:visited {
    color: #E33700;
    font-size: 1.5rem;
    text-decoration: none;
    border: 1px solid #E33700;
    border-radius: 5px;
    padding: 1rem 2rem;
}

.cta__button:hover {
    background-color: #E33700;
    color: white;
}