@import "./partials/_reset";
@import "./partials/_variables";
@import "./partials/_mixins";
@import "./partials/_global";

// Variables locales
$bgLight: rgba(255, 255, 255, 0.5);

// INDICE
// 15.  Main
// 28.  Informacion de contacto
// 112. Formulario de contacto
// 209. Media queries

///////////////////////////////////////
//          CONTACTO MAIN
//

main {
    padding: 3rem 0rem;
    padding-bottom: 0;
}
.pageHead {
    text-align: center;
    padding-bottom: 3rem;
}

// Seccion Informacion de contacto
.card {
    background-color: $bgLight;
    border: none;
    padding: 1rem;

    &__wrapper {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__map {
        border-radius: 0.8rem;
        order: 2;
        max-height: 18rem;
        object-fit: cover;
    }
    &__info {
        padding: 0 1rem;
        margin: 0 auto 2rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
    }
}

.item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    align-items: center;
    margin: 2rem 0;

    &__icon {
        grid-row: inherit;
        padding: 0.5rem;
        max-width: 2rem;
        justify-self: end;
    }
    &__title {
        text-transform: uppercase;
        font-size: .7em;
        margin-bottom: .2em;
        margin-left: 0.5rem;
    }
    &__content {
        margin: 0;
        grid-column: span 2;
        text-align: center;

        &--lg {
            font-size: 1.1em;
            font-weight: 500;
        }
    }
}

.socialIcons {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    padding: 0;
    padding-left: 0.5rem;
    margin-top: 2rem;
    margin-left: 2.2rem;

    img {
        height: 1.7rem;
        margin-right: 1.5rem;
        opacity: 0.7;
        transition: opacity 150ms;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

// Formulario de contacto
.form {
    background: rgb(58,56,54);
    background: radial-gradient(circle, rgba(58,56,54,1) 0%, rgba(35,34,33,1) 100%);
    color: $textLight;
    padding: 5rem 2rem;
    
    &__wrapper {
        max-width: 26rem;
        margin: 0 auto;
    }
    form {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-bottom: 5rem;
    }
    &__title {
        font-size: 2rem;
        margin-bottom: 1.7em;
        line-height: 1.4;
    }
    &__label:not(.form__label--checkbox) {
        text-transform: uppercase;
        font-size: 0.8em;
        opacity: 0.9;
        margin-left: 1em;
    }
    .nombre {
        width: 14rem;
    }
    .email {
        width: 15.5rem;
    }
    .telefono {
        width: 12rem;
    }
    textarea {
        width: 100%;
    }
    &__label--checkbox {
        margin-top: -0.5rem;
        margin-bottom: 1rem;
    }
    &__input--checkbox {
        margin-right: 0.5rem;
    }
    &__input,
    textarea,
    select {
        margin-bottom: 1rem;
        padding: 0.3rem 0.8rem;
        background-color: rgba(255, 255, 255, 0);
        color: $textLight;
        border: 2px solid $textLight;
        border-radius: 0.2rem;
        font-weight: 500;
        transition: color, background-color 200ms ease-in-out;
        
        &::placeholder {
            color: $textLight;
            opacity: 0.6;
            font-weight: 400;
        }
        &:hover,
        &:focus {
            background-color: $textLight;
            color: $textDark;
            font-weight: 600;
            &::placeholder {
                color: $textDark;
                opacity: 1;
            }
        }
    }
    &__input--submit {
        width: 100%;
        color: $primary;
        border-color: $primary;
        text-transform: uppercase;
        font-size: 1.15rem;
        padding: 0.6rem;
        letter-spacing: 2px;

        &:hover,
        &focus {
            background-color: $primary;
            font-weight: 700;
        }
    }

}

.line {
    display: block;
}

///////////////////////////////////////
//          MEDIA QUERIES
//

@include mf_tablet {
    .card {
        padding: 5rem;
    }
    .item {
            
        grid-template-columns: 2rem 1fr;
        margin: 0 0 1rem 0;

        &__icon {
            grid-row: span 2;
            max-width: 2.3rem;
        }
        &__content {
            grid-column: span 1;
            margin-left: .5rem;
            text-align: left
        }
        }
    .form .email {
            width: 19rem;
    }
}

@include mf_smallDesktop {
    .card {
        &__wrapper {
            flex-direction: row;
        }
        &__map {
            order: 1;
            max-height: 24rem;
            object-fit: cover;
        }
        &__info {
            margin: 0;
            order: 2;
        }
    }
}