@import "./partials/_reset";
@import "./partials/_variables";
@import "./partials/_mixins";
@import "./partials/_global";

// INDICE
// 13.  Main
// 24.  Hero
// 85.  Testimonials
// 110. Call to action
// 193. Media queries

///////////////////////////////////////
//          INDEX MAIN
//

main {
    text-align: center;
    margin: 0;
    padding: 0;
}


//      > Hero

.hero {
    background: #232221;
    font-family: $fontSecondary;
    font-style: italic;
    font-size: 1.15rem;
    line-height: 230%;
    padding: 0 1rem 2rem 1rem;
    position: relative;

    &::after {
        display: block;
        position: absolute;
        content: '';
        background: url(../img/index/triangulo-negro.svg) no-repeat center top;
        width: 100%;
        height: 100px;
        top: 100%;
        left: 0;
    }
    &__text {
        display: inline-block;
        position: relative;
        background-color: $backgroundMain;
        margin: auto;
        margin-bottom: 7rem;
        padding: 3rem 1rem 0 1rem;

        &::after {
            display: block;
            position: absolute;
            content: '';
            background: url(../img/index/triangulo-blanco.svg) no-repeat center top;
            width: 100%;
            height: 100px;
            top: 100%;
            left: 0;
        }
    }
    &__slogan {
        margin-bottom: 1rem;
        line-height: normal;
        font-size: 1.9rem;
        color: $primary;
        font-weight: 700;
        
        .rojo {
            color: $secondaryStrong;
        }
    }
}
.imgContainer {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.imgPancho {
    width: 200%;
    object-fit: cover;
}

//      > Testimonials

#testimonials {
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.testimonialCard {
    padding: 2rem;
    max-width: 100%;

    &__img {
        max-height: 200px;
    }
    &__text {
        padding-top: 1rem;
        font-weight: 500;
    }
}


//      > Call to action

.cta {
    background-color: $backgroundDark;
    color:$textLight;

    &__bannerTop {
        background: url(../img/index/banner-top.jpg) no-repeat center/cover;
        height: 10rem;
        position: relative;

        &::after { // Topper curvo (arriba)
            display: block;
            position: absolute;
            content: '';
            background: url(../img/index/banner-topper.svg) no-repeat center top;
            width: 100%;
            height: 100px;
            top: 0;
            left: 0;
        }
    }
    &__bannerBottom {
        background: url(../img/index/banner-bottom.jpg) no-repeat center/cover;
        height: 10rem;
        position: relative;

        &::after { // Topper curvo (abajo)
            display: block;
            position: absolute;
            content: '';
            background: url(../img/index/banner-bottomer.svg) no-repeat center bottom;
            width: 100%;
            height: 100px;
            bottom: -1px;
            left: 0;
        }
    }
    &__middleContainer {
        padding: 3rem 2rem;
    }
    &__text {
        font-family: $fontSecondary;
        font-size: 1.5rem;
        padding-bottom: 2rem;
        &--color {
            display: inline-block;
            color: $primary;
        }
    }
    &__button,
    &__button:visited {
        display: inline-block;
        color: $primary;
        font-size: 1.25rem;
        text-decoration: none;
        border: 1px solid $primary;
        border-radius: 5px;
        padding: 1rem 2rem;
        transition: background-color 150ms ease-out, color 150ms ease-out;
        margin-bottom: 1rem;
    }
    &__button:hover {
        background-color: $primary;
        color: $textDark;
        font-weight: 500;
    }
    &__menu {
        font-size: 1.15;
        a,
        a:visited {
            color: $textLight;
            opacity: 0.8;
            transition: opacity 150ms ease-in-out;
        }
        a:hover,
        a:active {
            opacity: 1;
        }
    }
}


///////////////////////////////////////
//          MEDIA QUERIES
//

@include mf_tablet {
    .hero {
        font-size: 1.5rem;

        &__text {
            padding: 3rem 3rem 1rem 3rem;
        }
        &__slogan {
            font-size: 2.2rem;
        }
    }
    .imgPancho {
        width: 150%;
    }
}

@include mf_smallDesktop {
    .hero {
        font-size: 1.75rem;

        &__text {
            padding: 3rem 5rem 1rem 5rem;
        }
        &__slogan {
            font-size: 2.5rem;
        }
    }
    .imgPancho {
        width: 100%;
    }
    #testimonials {
        flex-direction: row;
        gap: 1rem;
    }
    .testimonialCard {
        max-width: 30%;
    }
    .cta {
        &__bannerTop,
        &__bannerBottom {
            height: 15rem;
        }
        &__middleContainer {
            padding: 5rem 2rem;
        }
        &__text {
            font-size: 2rem;
            padding-bottom: 4rem;
        }
        &__button {
            font-size: 1.5rem;
        }
        &__menu {
            font-size: 1.25rem;
        }
    }
}

@include mf_largeDesktop {
    .hero {
        font-size: 1.85rem;

        &__text {
            padding: 5rem 7rem 3rem 7rem;
        }
        &__slogan {
            font-size: 3rem;
            margin: 2rem 0;
        }
    }
    .cta {
        &__middleContainer {
            padding-top: 7rem;
        }
        &__text {
            font-size: 2.5rem;
        }
    }
}