@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300;400;500;600;700&family=Sarina&display=swap');

//////////////////////////////////////
//             VARIABLES

//      >Colores
$backgroundDark: #302E2C;
$backgroundMain: #FFF6E8;
// $backgroundMain: #e6cda7;
$backgroundLight: rgba(255, 255, 255, .7);
$textDark: #484242;
$textLight: white;
$primary: #F09B1A;
$secondary: #BA4200;
$secondaryStrong: #E33700;
//       >Fuentes
$fontPrimary: 'Quicksand', sans-serif;
$fontSecondary: 'Lobster Two', cursive;
$fontTitle: 'Sarina', cursive;