
//////////////////////////////////////
//             VARIABLES

//      >Colores
$backgroundDark: #302E2C;
$backgroundMain: #FFF6E8;
// $backgroundMain: #e6cda7;
$backgroundLight: rgba(255, 255, 255, .7);
$textDark: #484242;
$textLight: white;
$primary: #F09B1A;
$secondary: #BA4200;
$secondaryStrong: #E33700;
//       >Fuentes
$fontPrimary: 'Quicksand', sans-serif;
$fontSecondary: 'Lobster Two', cursive;
$fontTitle: 'Sarina', cursive;